body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1 {
  text-align: center;
  margin-bottom: 1.5em;
}

h2 {
  text-align: center;
  color: #555;
  margin-bottom: 0;
}
.carousel > * {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.carousel figure img {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0px;
}
.carousel figure img:not(:first-of-type) {
  position: absolute;
  left: 0;
  top: 0;
}


/*PC端样式*/
@media screen and (max-width:3000px) and (min-width:320px){
  .carousel {/*
  padding: 20px;*/
    -webkit-perspective: 580px;
    perspective: 500px;
    /*overflow: hidden;*/
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .carousel figure {
    margin: 0;
    width: 40%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .carousel nav {
    display: block;
    position: absolute;
    top: 40%;
    width: 100%;
  }
  .carousel nav .prev{
    position: absolute;
    cursor: pointer;
    width: 52px;
    height: 52px;
    left: -14%;
    background-image: url("../static/indexSpr.png");
    background-position: -60px -4px;
  }
  .carousel nav .next{
    position: absolute;
    cursor: pointer;
    width: 52px;
    height: 52px;
    right: -14%;
    background-image: url("../static/indexSpr.png") ;
    background-position: -62px -54px;
  }

}
/*移动端样式*/
@media screen and (max-width:400px){
  .carousel {/*
  padding: 20px;*/
    margin-bottom: 10px;
    -webkit-perspective: 500px;
    perspective: 500px;
    /*overflow: hidden;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
    .carousel figure {
    margin: 0;
    width: 20%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .carousel nav {
    display: block;
    position: absolute;
    /*top: 28%;*/
    width: 50%;
  }
  .carousel nav .prev{
    position: absolute;
    cursor: pointer;
    width: 52px;
    height: 52px;
    left: 10%;
    background-image: url("../static/indexSpr.png");
    /*background-position: -60px -4px;*/
  }
  .carousel nav .next{
    position: absolute;
    cursor: pointer;
    width: 52px;
    height: 52px;
    right: 10%;
    background-image: url("../static/indexSpr.png") ;
    background-position: -62px -54px;
  }
  .slideImgs {
    width: 260px;
    height: 360px;
  }
}